<!-- Begin Semesters -->
<section id="semesters">
    <div class="container">
        <h2>Key Assignments</h2>

        <section>
            <div class="thumbnail">
                <img class="thumb" src="images/afb001.png" alt="Flexbox">
                <img class="thumb" src="images/afb002.png"  alt="Flexbox 2">
                <img class="thumb" src="images/terminal.png"  alt="Terminal">
                <img class="thumb" src="images/astro.png"  alt="Astro">
                <img class="thumb" src="images/canvas.png"  alt="Canvas">
                <img class="thumb" src="images/vim.png"  alt="Vim">
            </div>
        </section>
        <h3>Semester 1</h3>
            <ul class="assignments">
                <li><a href="https://chsserver01.org/2023/emartinez062023/Activities/PaintbrushPrototype1/paintbrushprototype1.html" target="new">PaintBrush 1</a></li>
                <li><a href="https://chsserver01.org/2023/emartinez062023/Activities/PaintbrushPrototype2/paintbrushprototype2.html" target="new">PainBrush 2</a></li>
                <li><a href="https://chsserver01.org/2023/emartinez062023/Activities/Paintbrushprototype3/paintbrushprototype3.html" target="new">PainBrush 3</a></li>
                <li><a href="https://chsserver01.org/2023/emartinez062023/Activities/PaintbrushPrototype4/paintbrushprototype4.html" target="new">PaintBrush 4</a></li>
            </ul>
            <h3>Semester 2</h3>
            <ul class="assignments">
                <li><a href="https://chsserver01.org/2023/emartinez062023/Activities/CanvasInterface/canvasinterface.html" target="new">Canvas Interface</a></li>
                <li><a href="https://chsserver01.org/2023/emartinez062023/Activities/PaintbrushPrototypeUndo/paintbrushprototypeundo.html" target="new">Canvas PaintbrushPrototypeUndo</a></li>
                <li><a href="https://chsserver01.org/2023/emartinez062023/Activities/AFB001/afb001.html" target="new">AFB001-Flexbox</a></li>
                <li><a href="https://chsserver01.org/2023/emartinez062023/Semester2/AFB001WAD/afb001wad.html" target="new">Flexbox Layout</a></li>
            </ul>
    </div>
    <!-- End Semesters Container -->
    </section>
    <!-- End Semesters Section-->