<!-- Begin Pagefooter -->
<footer id="pagefooter">
    <div class="container">
        <div id="quote">
            <h3>Final Thoughts</h3>
            <blockquote>
                Perfection seems sterile; it is final, no mystery in it; it's a product of an assembly line.
             </blockquote>
             ― Dejan Stojanovic
        </div>
    <!-- End Quote -->
    <div id="pagefooterlinks">
        <h3>Links</h3>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">about</a></li>
            <li><a href="blog.html">Blog</a></li>
        </ul>
        </div>
    <!-- End Footer Links -->
</div>
    <!-- End Pagefooter Container -->
    </footer>
    <!-- End Pagefooter Section -->