<!-- Begin Pagecontent -->
<div id="pagecontent">
        <div class="container">
         <h2>introduction</h2>   
        <p>
            My name is Erick Martinez. I am a web developer based in Coalinga, California. I enjoy technology and i love to learn about science,math, and underwater basket weaving.
        </p>
        <h3>Career</h3>
        <p>My goal is to become a data scientist. my goal is to ultilize my passion for math and technology.</p>
        <h3>Design</h3>
        <p>Another interest I have is art.I love drawing color theory is one aspect of design i enjoy. I also enjoy beyond paper and enjoy digital art. I enjoy using Photoshop.</p>
        <h3>Programming</h3>
        <p>Over  the last two years i have been learning JavaScript. I have found it interesting and challenging. I especially enjoyed using JavaScript with the HTML canvas element.</p>
            <!-- End Container -->
</div>
    <!-- End Pagecontent -->
</main>